@import "../../assets/styles/variables";

.TracksList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    > li {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;

        > div {
            height: 100%;
        }

        @media (min-width: $screen-xs-min) {
            flex-basis: 50%;
            max-width: 50%;
        }

        @media (min-width: $screen-md-min) {
            flex-basis: 33.33%;
            max-width: 33.33%;
        }

        @media (min-width: $screen-lg-min) {
            flex-basis: 25%;
            max-width: 25%;
        }

        @media (min-width: $screen-xl-min) {
            flex-basis: 20%;
            max-width: 20%;
        }
    }
}
