.Loader {
    position: relative;
    width: 234px;
    height: 28px;
    margin: auto;

    div {
        position: absolute;
        top: 0;
        background-color: rgb(221, 221, 221);
        width: 28px;
        height: 28px;
        animation-name: bounce_floatBarsG;
        -o-animation-name: bounce_floatBarsG;
        -ms-animation-name: bounce_floatBarsG;
        -webkit-animation-name: bounce_floatBarsG;
        -moz-animation-name: bounce_floatBarsG;
        animation-duration: 0.645s;
        -o-animation-duration: 0.645s;
        -ms-animation-duration: 0.645s;
        -webkit-animation-duration: 0.645s;
        -moz-animation-duration: 0.645s;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-direction: normal;
        -o-animation-direction: normal;
        -ms-animation-direction: normal;
        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        transform: scale(.3);
        -o-transform: scale(.3);
        -ms-transform: scale(.3);
        -webkit-transform: scale(.3);
        -moz-transform: scale(.3);
    }
}

.FloatBarsG_1 {
    left: 0;
    animation-delay: 0.256s;
    -o-animation-delay: 0.256s;
    -ms-animation-delay: 0.256s;
    -webkit-animation-delay: 0.256s;
    -moz-animation-delay: 0.256s;
}

.FloatBarsG_2 {
    left: 29px;
    animation-delay: 0.3225s;
    -o-animation-delay: 0.3225s;
    -ms-animation-delay: 0.3225s;
    -webkit-animation-delay: 0.3225s;
    -moz-animation-delay: 0.3225s;
}

.FloatBarsG_3 {
    left: 58px;
    animation-delay: 0.389s;
    -o-animation-delay: 0.389s;
    -ms-animation-delay: 0.389s;
    -webkit-animation-delay: 0.389s;
    -moz-animation-delay: 0.389s;
}

.FloatBarsG_4 {
    left: 88px;
    animation-delay: 0.4555s;
    -o-animation-delay: 0.4555s;
    -ms-animation-delay: 0.4555s;
    -webkit-animation-delay: 0.4555s;
    -moz-animation-delay: 0.4555s;
}

.FloatBarsG_5 {
    left: 117px;
    animation-delay: 0.522s;
    -o-animation-delay: 0.522s;
    -ms-animation-delay: 0.522s;
    -webkit-animation-delay: 0.522s;
    -moz-animation-delay: 0.522s;
}

.FloatBarsG_6 {
    left: 146px;
    animation-delay: 0.5885s;
    -o-animation-delay: 0.5885s;
    -ms-animation-delay: 0.5885s;
    -webkit-animation-delay: 0.5885s;
    -moz-animation-delay: 0.5885s;
}

.FloatBarsG_7 {
    left: 175px;
    animation-delay: 0.645s;
    -o-animation-delay: 0.645s;
    -ms-animation-delay: 0.645s;
    -webkit-animation-delay: 0.645s;
    -moz-animation-delay: 0.645s;
}

.FloatBarsG_8 {
    left: 205px;
    animation-delay: 0.7115s;
    -o-animation-delay: 0.7115s;
    -ms-animation-delay: 0.7115s;
    -webkit-animation-delay: 0.7115s;
    -moz-animation-delay: 0.7115s;
}


@keyframes bounce_floatBarsG {
    0% {
        transform: scale(1);
        background-color: rgb(221, 221, 221);
    }

    100% {
        transform: scale(.3);
        background-color: rgb(0, 0, 0);
    }
}

@-o-keyframes bounce_floatBarsG {
    0% {
        -o-transform: scale(1);
        background-color: rgb(221, 221, 221);
    }

    100% {
        -o-transform: scale(.3);
        background-color: rgb(0, 0, 0);
    }
}

@-ms-keyframes bounce_floatBarsG {
    0% {
        -ms-transform: scale(1);
        background-color: rgb(221, 221, 221);
    }

    100% {
        -ms-transform: scale(.3);
        background-color: rgb(0, 0, 0);
    }
}

@-webkit-keyframes bounce_floatBarsG {
    0% {
        -webkit-transform: scale(1);
        background-color: rgb(221, 221, 221);
    }

    100% {
        -webkit-transform: scale(.3);
        background-color: rgb(0, 0, 0);
    }
}

@-moz-keyframes bounce_floatBarsG {
    0% {
        -moz-transform: scale(1);
        background-color: rgb(221, 221, 221);
    }

    100% {
        -moz-transform: scale(.3);
        background-color: rgb(0, 0, 0);
    }
}
