@import "../../assets/styles/variables";

.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $contrast;
    color: $default;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}
