/*
* Normalize css
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, main, time, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, textarea, select {
    display: inline-block;
    -webkit-appearance: none;
    outline: none;
    color: inherit;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    border-radius: 0;
}

button,
input[type='button'],
input[type='submit'] {
    cursor: pointer;
}

/*
* @bugfix input text-overflow padding ignore
* @affected lt IE11
*/
.lt-ie11 input {
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 1px !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a[href^="tel:"],
a[href^="callto:"] {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

a:focus,
a[href^="tel:"]:focus,
a[href^="callto:"]:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

a, button, input {
    transition: .3s all ease;
}


/*
* Grid system
*/

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 300px;
    max-width: 480px;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1490px;
    }
}

.row {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}

* + [class*='col-'],
* + .row {
    margin-top: 30px;
}

@media (min-width: 480px) {
    * + [class*='col-xs-'] {
        margin-top: 0;
    }

    .row > [class*='col'] {
        flex: 0 0 auto;
        flex-basis: 100%;
        max-width: 100%;
    }

    .col-xs-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }

    .col-xs-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .col-xs-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-xs-4 {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
    }

    .col-xs-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col-xs-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-xs-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-xs-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col-xs-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-xs-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col-xs-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }

    .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-sm-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }

    .col-sm-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
    }

    .col-sm-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-sm-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col-sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col-sm-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }

    .col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
    }

    .col-md-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }

    .col-lg-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
    }

    .col-lg-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col-lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-lg-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col-lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col-lg-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }

    .col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (min-width: 1500px) {
    .col-xl-1 {
        flex-basis: 8.33333%;
        max-width: 8.33333%;
    }

    .col-xl-2 {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }

    .col-xl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-xl-4 {
        flex-basis: 33.33334%;
        max-width: 33.33334%;
    }

    .col-xl-5 {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-xl-7 {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-xl-8 {
        flex-basis: 66.66667%;
        max-width: 66.66667%;
    }

    .col-xl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-xl-10 {
        flex-basis: 83.33333%;
        max-width: 83.33333%;
    }

    .col-xl-11 {
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }

    .col-xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/*
* Main Styles
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    -webkit-text-size-adjust: none;
    color: #000;
    background: #fff;
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
        line-height: 1.4;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    color: #333333;
    font-weight: 400;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #b90000;
}

h1 {
    font-size: 38px;
    line-height: 1.33;
}

@media (min-width: 768px) {
    h1 {
        font-size: 62px;
        line-height: 1.16;
    }
}

h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    h2 {
        font-size: 50px;
        line-height: 1.5;
    }
}

h3 {
    font-size: 30px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    h3 {
        font-size: 44px;
        line-height: 1.37;
    }
}

h4 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    h4 {
        font-size: 34px;
        line-height: 1.47;
    }
}

h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

p a:hover {
    color: #b90000;
}

strong {
    color: #333333;
}

mark {
    display: inline-block;
    padding: 5px;
    color: #FFF;
    background: #b90000;
}

em {
    color: #b90000;
}

small {
    display: block;
    font-size: 0.875em;
    line-height: 1.643em;
}

.big {
    font-size: 1.2em;
}

input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
