//========================================================
//                     Variables
//=========================================================

// Resolutions
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xl-min: 1520px;


// Fonts
$default-font-family: 'Open Sans', sans-serif;
$default-font-weight: 400;
$default-font-size: 14px;
$default-line-height: 1.4;


// Anchor Colors
$default: #fff;
$contrast: #000;
$white: #fff;
$primary: #b90000;
$dark: lighten(saturate(adjust_hue($contrast, 0), 0%), 20%);

$content-color: darken(saturate(adjust_hue($default, 0), 0%), 30%);
$content-bg: lighten(saturate(adjust_hue($contrast, 0), 0%), 20%);
